* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.word h5{
    padding-top: 60px;
    padding-left: 100px;
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    color:#fff;
    transform: scale(1,1.15);
    transition: 0.4s;
    font-size: 150px;
    font-style: italic;
    
}
.word h2{
    padding-top: 220px;
    padding-left: 30px;
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    color:#fff;
    transform: scale(1,1.15);
    transition: 0.4s;
    font-size: 100px;
    font-style: italic;
}

.word h3{
    padding-top: 350px;
    padding-left: 70px;
    position: absolute;
    font-family: 'Franklin Gothic Heavy';
    color:#fff;
    transform: scale(1,1.15);
    transition: 0.4s;
    font-size: 60px;
    font-style: italic;
}

.word h5:hover,
.word h2:hover,
.word h3:hover {
    text-shadow: 
    2px 2px 5px rgba(255, 255, 255, 0.5),
    3px 3px 10px rgba(255, 255, 255, 0.5),
    5px 5px 70px rgba(255, 255, 255, 0.5);
    cursor: pointer;
    
}

/* Media query for screens up to 300px */
@media (max-width: 300px) {
    .word h5 {
        font-size: 40px;
    }
    
    .word h2 {
        font-size: 20px;
    }
    
    .word h3 {
        font-size: 15px;
    }
}

/* Media query for screens between 301px and 500px */
@media (min-width: 301px) and (max-width: 500px) {
    .word h5 {
        font-size: 60px;
    }
    
    .word h2 {
        font-size: 30px;
    }
    
    .word h3 {
        font-size: 20px;
    }
}

/* Media query for screens between 501px and 768px (or any other specific range) */
@media (min-width: 501px) and (max-width: 768px) {
    .word h5 {
        font-size: 80px;
    }
    
    .word h2 {
        font-size: 45px;
    }
    
    .word h3 {
        font-size: 35px;
    }
}
































