body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%);
    background-image: url('../Photos/puppy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f4f4f4;
    width: 100%;
    height: 120vh;
    margin: 0 auto;
}

/* header */
.navbar {
    background-color: #333;
}

.navbar-brand {
    font-size: 24px;
    color: #fff;
}

.nav-link {
    font-size: 18px;
    /* Set font size of nav links */
    color: #fff;
    /* Set font color of nav links */
}

.nav-item {
    margin-right: 20px;
    /* Set margin to nav items */
}


/* main */

main {
    font-size: large;
    max-width: 1200px;
    max-width: 1280px;
    min-height: 720px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

#petmanagement {
    width: 300px;
    height: auto; /* Maintain aspect ratio */
    display: block;
    border-radius: 10px;
    object-fit: cover;
    margin: 0 auto; /* Center align horizontally */
    filter: brightness(100%); /* Reduce contrast */
}


h2 {
    color: #333;
    font-size: 32px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    color: #666;
    font-size: 20px;
    margin-bottom: 20px;
}

/* services */
.faq-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
    max-width: 600px;
    margin: 20px auto;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.2s;  /* Optional: smooth transition for the rotation */
}

.rotate-image {
    transition: transform 0.2s ease;
}



/* Cookies */
.wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 345px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 15px 25px 22px;
    font-size: small;
    transform: translate(-50%, -50%);
    z-index: 101;

}

.wrapper,
.overlay {
    display: none;
}


.wrapper-header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.wrapper-header i {
    color: #333;
    font-size: 32px;
}

.wrapper-header h2 {
    color: #333;
    font-size: 32px;
}

.wrapper-body {
    margin-top: 16px;
}

.wrapper-body p {
    color: #333;
    font-size: 16px;
}

.wrapper-body p a {
    color: #4070f4;
    text-decoration: none;
}

.wrapper-body p a:hover {
    text-decoration: underline;
}

.wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
}

.buttons .button {
    border: none;
    color: #fff;
    padding: 8px 0;
    border-radius: 4px;
    background: #007bff;
    cursor: pointer;
    width: calc(50% - 5px);
    transition: background 0.2s ease;
    text-align: center;
}

.buttons .button:hover {
    background: #0056b3;
}

.buttons .button:first-child {
    margin-right: 10px;
}

.buttons .button:last-child {
    margin-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
}

/* By default, use delete1.png */
.delete-button .delete-icon {
    content: url("../Photos/delete1.png");
    transition: opacity 0.3s;
}

/* On hover, replace with delete2.png */
.delete-button:hover .delete-icon {
    content: url("../Photos/delete2.png");
    opacity: 0.3;
}




/* flexbox */
.flexbox-content {
    display: flex;
    justify-content: space-between;
    border: 0px solid #ccc;
    padding: 20px;
}

.flexbox-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f3f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.flexbox {
    flex: 0 0 100%;
    padding: 20px;
    background-color: #f1eeee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flexbox:first-child {
    display: block;
}

.navigationbutton {
    flex: 0.5;
    padding: 10px 1px;
    background-color: #ccc4c4;
    color: #fff;
    border: none;
    cursor: pointer;
}

.flexbox-content {
    flex: 9;
    display: flex;
    overflow: hidden;

}

#flexbox1 p,
#flexbox2 p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 1.6;
}



#getLocation {
    background-color: #00d9ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}


#iframe {
    margin-top: 10px;
    border: 1px;
    margin: 0 auto;
    display: block;
}

#location1 {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    display: inline-block;
}


/* Style for the form container */
#petForm,
#editPetForm {
    border: 2px solid #3498db;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style for the form labels */
#petForm label,
#editPetForm label {
    font-weight: bold;
}

/* Style for the submit button */
#petForm button[type="submit"],
#editPetForm button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
}

/* Style for the submit button on hover */
#petForm button[type="submit"]:hover, #editPetForm button[type="submit"]:hover {
    background-color: #2980b9;
}

.ParentPetForm {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style for the saved pet profiles */
#profilesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
}

/* Style for each profile item */
.profile-item {
    background-color: #F4F7D2;
    padding: 15px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.profile-item span {
    font-weight: bold;
    margin-bottom: 10px;
}

.profile-item img {
    display: block;
    align-items: center;
    max-width: 100px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.profile-item #profilelistimg {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-item .text-details {
    flex-grow: 1;
}

.profile-item .text-details strong {
    font-weight: bold;
    color: #333;
}

.profile-item .text-center {
    text-align: center;
    margin-top: 10px;
}


.mapzm {
    animation-name: mapzoom;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

@keyframes mapzoom {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1)
    }
}

.mapzm:hover {
    animation: none;
}



#mobileDevice {
    width: 300px;
    height: auto;
    border-radius: 20px;
    background-color: #f0f0f0;
    margin: 20px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

#mobileHeader {
    height: 40px;
    background-color: #b3afaf;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#mobileScreen {
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Media*/
@media (max-width: 991px) {

    #petForm,
    #editPetForm {
        width: 80%;
        margin: 0 auto;
    }


    .flexbox {
        width: 80%;
    }
}

@media (max-width: 500px) {
    #mobileDevice {
        width: 80%;
    }

    .profile-item img {
        max-width: 50px;
    }

    .profile-item #profilelistimg {
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }


    .profile-item div {
        display: block;
        text-align: center;
    }


}

/* Adjust the layout for screens larger than 980px */
@media (min-width: 981px) {
    .row {
        align-items: center;
    }

    .col-sm-12,
    .col-md-6 {
        width: 100%;
    }
}

/* Adjust the layout for screens 980px and below */
@media (max-width: 980px) {
    .row {
        text-align: center;
        align-items: center;
    }

    .col-sm-12,
    .col-md-6 {
        width: 100%;
    }
}

/* Media query for screens smaller than 768px (mobile devices) */
@media (max-width: 768px) {

    #petForm,
    #editPetForm {
        width: 70%;
        margin: 0 auto;
    }

    .flexbox {
        width: 70%;
    }

    #footeriframe {
        display: none;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 400px) {
    #editPetForm button[type="submit"] {
        background-color: #3498db;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
        align-items: center;
        margin-top: 10px;
    }
}

/* Footer */
footer {
    background-color: #333;
    width: 100%;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

